<div class="col-xs-0 col-sm-1 col-md-2"></div>

<div class="col-xs-12 col-sm-10 col-md-7 col-lg-5">
	<h1>Create a Category</h1>
	<form class="create-update-form" action="/api/create/cat" method="POST">
		<div class="form-group has-success has-feedback">
			<label for="newCat">New Category:</label>
			<input type="text" id="newCat" name="cat_name">
		</div>
		<button class="btn btn-success" id="submit" type="submit">Submit</button>
	</form>
</div>
<div class="col-xs-0 col-sm-1 col-md-3 col-lg-5"></div>